<header>
<nav class="navbar navbar-expand-lg bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://hireveda.com/content/images/2024/03/digital-logo.png" alt="..." height="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-5 <%=path==='/'?'active':' '%>" aria-current="page" href="/">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 <%=path==='/user/getlogdata'?'active':' '%>" aria-current="page" href="/user/getlogdata">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 <%=path==='/getproductdata'?'active':' '%>" aria-current="page" href="/getproductdata">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 <%=path==='/viewproductdata'?'active':' '%>" aria-current="page" href="/viewproductdata">View Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>